<%- include("header") -%> 
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% tasks.forEach(task => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
                <p><%= task.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
        <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" name="newTask" placeholder="New Task" autofocus autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
 
<%- include("footer") -%> 